{% if items|length > 0 %}

<div data-widget-wrapper>
    <div class="items_list_listing" data-listing-wrapper>

        {% for item in items %}

            <div class="room_card_wrapper">

                <div class="room_card" data-listing-list>

                    <h2>{{item.name}}</h2>

                    <div class="room_card_content">
                        <span class="_subheader _mobile">Вместимость</span>
                        {% if item.capacity %}
                            <p><span class="_subheader">Вместимость</span> на&nbsp;банкет:<br>до&nbsp;<span>{{item.capacity}}&nbsp;персон</span></p>
                        {% endif %}
                        {% if item.capacity_reception %}
                            <p>на&nbsp;фуршет:<br>до&nbsp;<span>{{item.capacity_reception}}&nbsp;персон</span></p>
                        {% endif %}
                        
                        
                        <span class="_subheader _mobile">Стоимость</span>
                        {% if item.price %}
                            <p><span class="_subheader">Стоимость</span> на&nbsp;человека:<br>от&nbsp;<span>{{item.price}}&nbsp;₽</span></p>
                        {% endif %}
                    </div>

                    <div class="calendar_wrapper">

                        <a class="open_calendar_button _link" href="" onclick="return false">Выберите дату</a>

                        <div class="calendar_container _room _hide">

                            <div class="calendar"></div>

                        </div>

                    </div>

                </div>    

                <div class="object_gallery _room">

                        <div class="swiper-container gallery-top-room">

                            <div class="swiper-wrapper">

                                {% for image in item.images %}
                                    <div class="swiper-slide object_thumb">
                                        <a href="{{image.waterpath}}=s0" data-lightbox="top_slider"><img src="{{image.subpath}}=w710-h472-n-l95" alt="Фото №{{loop.index}} зала {{item.name}}"/></a>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>

                        <div class="swiper-container gallery-thumbs-room">

                            <div class="swiper-wrapper">

                                {% for image in item.images %}
                                    <div class="swiper-slide object_thumb">
                                        <img src="{{image.subpath}}=w138-h92-n-l95" alt="Фото №{{loop.index}} зала {{item.restaurant_name}}"/>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>

                </div>  

            </div>        
            
        {% endfor %}

    </div>
    
</div>

{% endif %}