{{ use('yii/widgets/Pjax') }}
{{ use('yii/widgets/ListView') }}

<div data-page-type="blog">
	<div class="blog_top_bg">
		<div class="blog_top_banner">
			<div class="blog_top_banner_content">
				<div class="banner_interest"> Интересное </div>
				<div class="banner_title"> Новое из мира банкетов </div>
				<div class="banner_desc"> Вам предстоит организация банкета в Москве? Сколько часов вашей жизни отнимет анализ качества услуг ресторанов, многочисленные согласования, выбор исполнителей?</div>
			</div>
		</div>
	</div>
	<div class="detailed_state">
		<img class="detailed_state_img" src="/img/topbanket/blog/detailed_state_img.png">
		<div class="detailed_state_info">
			<div class="state_date">2 марта </div>
			<a class="detailed_state_title" href="/post/" >Качественно — не значит дорого: примеры удачной оптимизации бюджета </a>
			<div class="detailed_state_desc"> Любой бюджет, выделенный на свадьбу, паре хочется расходовать максимально эффективно.</div>
			<div class="White" href="/post/" >Подробнее →</div>
		</div>
	</div>
	<div class="blog_state_block">
	{# {{postsPrew[0].attributes.name | raw}} #}
	{% for posts in postsPrew %}
		<div class="state_body" style="background: url(/img/topbanket/blog/block_state1.png); background-size: cover">
			<div class="state_inner">
				<div class="state_date">{{posts.attributes.published_at}}</div>
				<div class="state_title">{{posts.attributes.name}}</div>
				<div class="state_desc">{{posts.attributes.short_intro}}</div>
				<a href="http://top_banket.ru/blog/{{posts.attributes.alias}}/" class="White">Подробнее →</a>
			</div>
		</div>
	{% endfor %}
	
	</div>
	<div class="state_btn_container">
		<div class="state_load_btn">
					Подгрузить ещё
		</div>
	</div>
	<hr>
</div>